[Unit]
Description=Call Audio Daemon
After=pre-user-session.target
Requires=dbus.socket

[Service]
ExecStart=/usr/bin/droid/callaudiod.sh
Restart=always
RestartSec=1

[Install]
WantedBy=user-session.target
